<% provide(:title, @user.name) %>
  <table class="tg table-bordered">
    
 <head>
  <tr>
     <th class="tg-8ot9">           </th>
    <th class="tg-8ot9">指定勤務時間:<%= @user.specified_work_time %></th>
    <th class="tg-8ot9" colspan="3">基本時間:<%= @user.basic_work_time %></th>
    
    <th class="tg-8ot9">初日:<%= @start_date %></th>
  </tr>
   <tr>
     <td class="tg-8ot9">所属:<%= @user.affiliation %></td>
     <td class="tg-8ot9">氏名:<%= @user.name %></td>
     <td class="tg-8ot9">コード</td>
     <td class="tg-8ot9"></td>
     <td class="tg-8ot9">出勤日数</td>
     <td class="tg-8ot9">締め:<%= @end_date %></td>
   </tr>
  </head>
 </table>
 
  <br><%= link_to "勤怠を編集", login_path, class: "btn btn-primary" %></br>
  <br>
  <table class="tg">
  <tr>
    <td class="tg-8ot9" rowspan="2">日付</td>
    <td class="tg-8ot9" rowspan="2">曜日</td>
    <th class="tg-8ot9" colspan="3">出社</th>
    <th class="tg-8ot9" colspan="3">退社</th>
    <th class="tg-baqh" rowspan="2">在社</th>
    <th class="tg-baqh" rowspan="2">備考</th>
  </tr>
  <tr>
    <td class="tg-8ot9">時</td>
    <td class="tg-8ot9">分</td>
    <td class="tg-8ot9"></td>
    <td class="tg-8ot9">時</td>
    <td class="tg-baqh">分</td>
    <td class="tg-baqh"></td>
  </tr>
</table>
</br>