<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">拠点情報の編集</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @base, url: update_base_info_basis_path(@base), local: true, method: :patch) do |f| %>
            <%#= render 'shared/error_messages', object: @base %>
            <%= f.label :拠点番号 %>
            <%= f.text_field :id, class: 'form-control' %>
            <%= f.label :拠点名 %>
            <%= f.text_field :base_name, class: 'form-control' %>
            <%= f.label :拠点種類 %>
            <%= f.text_field :base_type, class: 'form-control' %>
            <div class="center">
              <%= f.submit "編集", class: "btn btn-primary" %>
              <button type="button" class="btn btn-default" data-dismiss="modal">
                キャンセル
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>