  <table class="tg table-bordered">
    
   <head>
    <tr>
     <th class="tg-8ot9"> 
       <!--#params[:piyo]に前月or翌月の情報を入れてControllerへ渡してあげます 
          #▼前月の情報を渡す  --->
       <%= link_to "←", user_path(first_day: @first_day.prev_month) %>
   
    　<%= @first_day.year %>年<%= @first_day.month %>月の時間管理表
         <!-- #▼翌月の情報を渡す -->
       <%= link_to "→", user_path(first_day: @first_day.next_month) %>

     </th>
    <th class="tg-8ot9">指定勤務時間:<%= @user.specified_work_time %></th>
    <th class="tg-8ot9" colspan="3">基本時間:<%= @user.basic_work_time %></th>
    
    <th class="tg-8ot9">初日:<%= @first_day.month %>/<%= @first_day.day %></th>
  </tr>
   <tr>
     <td class="tg-8ot9">所属:<%= @user.affiliation %></td>
     <td class="tg-8ot9">氏名:<%= @user.name %></td>
     <td class="tg-8ot9">コード</td>
     <td class="tg-8ot9"></td>
     <td class="tg-8ot9">出勤日数</td>
     <td class="tg-8ot9">締め:<%= @last_day.month %>/<%= @last_day.day %></td>
   </tr>
  </head>
 </table>
 <!--中断-->
  <br><%= link_to "勤怠を編集", login_path, class: "btn btn-primary" %></br>
 <!--ここから下段の題目　-->
   <br>
    <table class="tg" id="fixed">
     <tr>
        <td class="tg-8ot9" rowspan="2">日付</td>
        <td class="tg-8ot9" rowspan="2">曜日</td>
        <th class="tg-8ot9" colspan="3">出社</th>
        <th class="tg-8ot9" colspan="3">退社</th>
        <th class="tg-baqh" rowspan="2">在社</th>
        <th class="tg-baqh" rowspan="2">備考</th>
     </tr>
     <tr>
        <td class="tg-8ot9">時</td>
        <td class="tg-8ot9">分</td>
        <td class="tg-8ot9"></td>
        <td class="tg-8ot9">時</td>
        <td class="tg-baqh">分</td>
        <td class="tg-baqh"></td>
     </tr>
    </table>
   </br>
 <!-- ここから下段の出退勤時間登録フォーム-->
    <table class="tg" id="fixed">
     <% (@first_day..@last_day).each do |days| %>
      <tr>
       <th class="tg-8ot9">
        <%= days.month %>/<%= days.day %>
       </th>
       <th class="tg-0pky">
        <%= @youbi[days.wday] %>
        </th>
       <th class="tg-0pky">
        <%= @attendance.attendance_time.hour if !@attendance.attendance_time.nil? %>
       </th>
       <th class="tg-0pky">
        <%= @attendance.attendance_time.min if !@attendance.attendance_time.nil? %>
       </th>
       <th class="tg-0pky"><!-- 自身の勤怠で出社時間と退社時間が空なら表示   -->
         <% if @attendance.attendance_time.nil? && @attendance.leaving_time.nil? && days == Date.today %>
          <%= form_for @attendance, :url => {:controller => 'attendances',:action => 'attend'} do |f| %>
           <%= f.submit "出社", class: "btn btn-primary" %>
         <% end %>
        <% end %>
       </th>
       <th class="tg-0pky">
       <!-- #f.datetime_select :attendance_time %> -->
       </th>
       <th class="tg-0pky">
         
       </th>
       <th class="tg-0pky"></th>
       <th class="tg-0pky"></th>
       <th class="tg-0pky"></th>
      </tr>
     <% end %>
    </table>