<!--<table class = "table attendance-info">-->
<table class = "table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>日付</th>
      <th>変更前出社時間</th>
      <th>変更前退社時間</th>
      <th>変更後出社時間</th>
      <th>変更後退社時間</th>
      <th>指示者</th>
      <th>承認日</th>
    </tr>
  </thead>
  <tbody>
    <% attendance.each do |ad| %>
    <tr>
      <td><%= ad.day %></td>
      <td>
       <% if ad.before_edit_attendance_time.present? %>
        <%= ad.before_edit_attendance_time.to_s(:hour) %>:<%= ad.before_edit_attendance_time.to_s(:min) %>
       <% end %>
      </td>
      <td>
        <% if ad.before_edit_leaving_time.present? %>
          <%= ad.before_edit_leaving_time.to_s(:hour) %>:<%= ad.before_edit_leaving_time.to_s(:min) %>
        <% end %>
      </td>
      <td><%= ad.attendance_time.to_s(:hour) %>:<%= ad.attendance_time.to_s(:min) %></td>
      <td><%= ad.leaving_time.to_s(:hour) %>:<%= ad.leaving_time.to_s(:min) %></td>
      <td>
        <% @authority_user = User.find_by(id: ad.edit_authority_user_id) %>
        <%= @authority_user.name %>
      </td>
      <td><%= ad.latest_approval_date.to_s(:date) %></td>
    </tr>
    <% end %>
  </tbody>
</table>