<% if current_user?(@user) %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
   <%= link_to "勤怠管理システム", current_user, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "トップへ", current_user %></li>
        <% if logged_in? %>  
        <% if current_user.admin == true %>
          <li><%= link_to "ユーザー一覧", users_path(id: @user.id) %></li>
          <li><%= link_to "出勤社員一覧", work_on_employee_path(params:{id: @user.id}) %></li>
          <li><%= link_to "拠点情報の修正", bases_path(params:{id: @user.id}) %></li>
          <li><%= link_to "基本情報の修正", "#" %></li>
        <% end %>
        
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              アカウント <b class="caret"></b>
            </a>
            
            
            <ul class="dropdown-menu">
            <%# if !admin?(@user) %>
              <%# link_to "勤怠表示画面", current_user %>
            <%# end %>
              <li><%#= link_to "個人情報編集画面", edit_user_path(current_user)  %></li>

              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<% end %>